In [32]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer,KNNImputer
from sklearn.preprocessing import StandardScaler
import itertools

In [33]:
df_train = pd.read_csv("data/train.csv", index_col='PassengerId')
df_test = pd.read_csv("data/test.csv", index_col='PassengerId')
df_train.head(2)

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
PassengerId,,,,,,,,,,,,,
0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True

# Data Treatment

In [34]:
def feature_inputer(
    df:pd.DataFrame,
    to_mode = ['HomePlanet', 'CryoSleep', 'Destination', 'VIP'],
    to_median = ['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
) -> pd.DataFrame:
    for col in to_mode:
        mode_inputer = SimpleImputer(strategy='most_frequent')
        df[col] = mode_inputer.fit_transform(df[[col]])

    
    for col in to_median:
        inputer = SimpleImputer(strategy='median')
        df[col] = inputer.fit_transform(df[[col]])
    return df

def dtype_memory_reducer(df: pd.DataFrame) -> pd.DataFrame:
    df['CryoSleep'] = df['CryoSleep'].astype(bool)
    df['VIP'] = df['VIP'].astype(bool)

    df['HomePlanet'] = df['HomePlanet'].astype('category')
    df['Destination'] = df['Destination'].astype('category')
    return df

def outliers_to_log(df:pd.DataFrame) -> pd.DataFrame:
    to_log = ['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
    for col in to_log:
        df[col] = np.log(df[col] + 1)
    return df

def cabin_inputer(df:pd.DataFrame) -> pd.DataFrame:
    cabin_features = df['Cabin'].str.split("/",expand=True)[[0,2]].rename(columns={0:'Deck',2:'side'})
    df = pd.concat([df,cabin_features],axis=1)
    df['Deck'] = df['Deck'].fillna('G').replace("T","G")
    df = df.drop(['side','Cabin'],axis=1)
    return df

def vip_knn_input(df: pd.DataFrame) -> pd.DataFrame:
    inputer = KNNImputer(n_neighbors=5)
    df['VIP'] = inputer.fit_transform(df[['VIP','RoomService']])[:,0]
    return df

def treat_dataset(df:pd.DataFrame) -> pd.DataFrame:
    df = df.drop(['Name'],axis=1)
    df = cabin_inputer(df)
    df = feature_inputer(df)
    df = vip_knn_input(df)
    df['0_bills'] = df[['RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].sum(axis=1) == 0
    df = outliers_to_log(df)
    df = dtype_memory_reducer(df)
    return df

def apply_interactions(df:pd.DataFrame):
    for x in itertools.combinations(df.columns, 2):
        df[f'{x[0]}_{x[1]}'] = df[x[0]]*df[x[1]]
    df = df.drop(df.columns[df.nunique() == 1].tolist(),axis=1)
    return df

def feature_enginnering(df: pd.DataFrame) -> pd.DataFrame:
    df = pd.get_dummies(df,columns=['HomePlanet','Destination','Deck'],drop_first=True)
    return df

In [35]:
df_train = treat_dataset(df_train.copy())
df_train = feature_enginnering(df_train)

In [36]:
X_train,y_train = df_train.drop('Transported',axis=1), df_train['Transported']
X_test = treat_dataset(df_test)
X_test = feature_enginnering(X_test)

In [37]:
X_train.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Europa,HomePlanet_Mars,Destination_PSO J318.5-22,Destination_TRAPPIST-1e,Deck_B,Deck_C,Deck_D,Deck_E,Deck_F,Deck_G
count,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000,8693.000000
mean,28.790291,1.735295,1.906543,1.599415,1.838851,1.757950,0.245140,0.202347,0.091568,0.701369,0.089612,0.085931,0.054987,0.100771,0.321408,0.317842
std,14.341404,2.719285,2.932951,2.567446,2.769368,2.746810,0.430195,0.401772,0.288432,0.457684,0.285642,0.280279,0.227968,0.301042,0.467044,0.465664
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,37.000000,3.737670,4.127134,3.135494,3.988984,3.713572,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
max,79.000000,9.569971,10.302733,10.064458,10.017218,10.091377,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [38]:
df_comp = pd.concat([X_train.describe().T['mean'].to_frame('train'),X_test.describe().T['mean'].to_frame('test')],axis=1)
df_comp['ratio'] = (df_comp['test']/df_comp['train']) - 1
df_comp.sort_values('ratio')

                               train       test     ratio
Deck_B                      0.089612   0.084639 -0.055501
HomePlanet_Europa           0.245140   0.234276 -0.044315
Deck_C                      0.085931   0.083002 -0.034087
VRDeck                      1.757950   1.698812 -0.033640
Deck_G                      0.317842   0.310498 -0.023106
Spa                         1.838851   1.820080 -0.010208
Destination_PSO J318.5-22   0.091568   0.090718 -0.009284
FoodCourt                   1.906543   1.891076 -0.008112
Age                        28.790291  28.601590 -0.006554
RoomService                 1.735295   1.758751  0.013517
Destination_TRAPPIST-1e     0.701369   0.712649  0.016083
ShoppingMall                1.599415   1.625389  0.016240
Deck_D                      0.054987   0.056582  0.029006
Deck_E                      0.100771   0.104513  0.037132
Deck_F                      0.321408   0.337854  0.051167
HomePlanet_Mars             0.202347   0.216273  0.068824